.jumbotron {
  background-color: #fff;
  margin-bottom: 0;
}

.fixed-background-light,
.fixed-background-dark {
  position: relative;
  background: 50% 50% no-repeat fixed;
  box-shadow: #000 0 0 1em inset;
}

.fixed-background-light p,
.fixed-background-dark  p {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: -1em;
  margin-right: -1em;
  border-radius: 1em;
}

.fixed-background-dark {
  color: #fff;
}

.fixed-background-light p {
  background-color: rgba(255, 255, 255, 0.75)
}

.fixed-background-dark p {
  background-color: rgba(0, 0, 0, 0.75)
}
