.jumbotron {
  background-color: #fff;
  margin-bottom: 0;
}

.fixed-background {
  position: relative;
  background: 50% 50% no-repeat fixed;
  box-shadow: #000 0 0 1em inset;
}

.background-dark {
  color: #fff;
  background-color: #000;
}

.panorama {
  min-height: 600px;
}
